/* 
    AUTHOR: Chris Coyier
            chriscoyier@gmail.com
            http://chriscoyier.net
*/

* { margin: 0; padding: 0; }

html { overflow-y: scroll; }

body{
	color: #FFFFFF;
	background-color: #000000;
}

.clear {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

#background {
	background: url(images/background.png) repeat 5% 5%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#midground {
	background: url(images/midground.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 100;
}

#foreground {
	background: url(images/foreground.png) repeat 90% 110%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 200;
}

#page-wrap {
	margin: 0 auto;
	position: relative;
	z-index: 300;
	/*background: rgba(0,0,0,0.7);*/
	overflow: hidden;
	padding: 30px 50px;
}

#nav {
	margin: 0 auto;
	position: relative;
	z-index: 500;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
}

.login {
	margin: 0 auto;
	position: relative;
	background: rgba(0,0,0,0.7);
	overflow: hidden;
}
